* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 1%;
    padding: 1rem;

    font-family: 'Poppins', sans-serif;

}

#heading {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    
}

fieldset {
    margin: 4px;
    padding: 8px;
    border: 3px;

}

.list {
    margin: 4px;
    padding: 8px;

}

#box2 {
    margin: 2%;
    padding: 1rem;
    align-items: center;

}